<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/author/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Inter" rel="stylesheet" />
    <title>Author Portfolio</title>
</head>

<body style="background: rgb(244, 238, 239)">
    <div class="frame">
        <div class="main_frame">
            <div class="left_side">
                <div class="left_1">
                    <div class="left_1_1">
                        <img src="/author/images/profile.svg" alt="profile image" width="156px" height="144px" />
                    </div>
                    <div class="left_1_2">
                        <%=user.name%>
                    </div>
                    <div class="left_1_3">
                        <%=user.profession%>
                    </div>
                    <div class="left_1_4">
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="/author/icons/dribbble.svg" class="icon_1" alt="" />
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="/author/icons/facebook.svg" class="icon_1" alt="" />
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="/author/icons/linkedin.svg" class="icon_1" alt="" />
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="/author/icons/instagram.svg" class="icon_1" alt="" />
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="/author/icons/twitter.svg" class="icon_1" alt="" />
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="/author/icons/youtube.svg" class="icon_1" alt="" />
                            </div>
                        </a>
                    </div>
                </div>
                <div class="seperator"></div>
                <div class="left_2">
                    <div class="left_2_1">
                        <div class="left_2_1_start">Age:</div>
                        <div class="left_2_1_end">
                            <%=user.age%>
                        </div>
                    </div>
                    <div class="left_2_1">
                        <div class="left_2_1_start">Residance:</div>
                        <div class="left_2_1_end">
                            <%=user.residence%>
                        </div>
                    </div>
                    <div class="left_2_1">
                        <div class="left_2_1_start">Freelance:</div>
                        <div class="left_2_1_end">Availabe</div>
                    </div>
                    <div class="left_2_1">
                        <div class="left_2_1_start">Adress:</div>
                        <div class="left_2_1_end">
                            <%=user.adress%>
                        </div>
                    </div>
                </div>

                <div class="seperator"></div>
                <div class="left_3">
                    <div class="intro_left">Languages</div>
                    <div class="left_3_1">
                        <div class="left_3_1_start">
                            <%=user.languages[0]%>
                        </div>
                        <div class="left_3_1_end">100%</div>
                    </div>
                    <div class="persentages">
                        <div class="persentages_in" style="width: 100%"></div>
                    </div>
                    <div class="left_3_1">
                        <div class="left_3_1_start">
                            <%=user.languages[1]%>
                        </div>
                        <div class="left_3_1_end">80%</div>
                    </div>
                    <div class="persentages">
                        <div class="persentages_in" style="width: 80%"></div>
                    </div>
                    <div class="left_3_1">
                        <div class="left_3_1_start">
                            <%= user.languages[2] %>
                        </div>
                        <div class="left_3_1_end">60%</div>
                    </div>
                    <div class="persentages">
                        <div class="persentages_in" style="width: 60%"></div>
                    </div>
                </div>
                <div class="seperator"></div>
                <div class="left_4">
                    <div class="intro_left">Skills</div>
                    <div class="left_3_1">
                        <div class="left_3_1_start">
                            <%=user.skills[0]%>
                        </div>
                        <div class="left_3_1_end">90%</div>
                    </div>
                    <div class="persentages">
                        <div class="persentages_in" style="width: 90%"></div>
                    </div>
                    <div class="left_3_1">
                        <div class="left_3_1_start">
                            <%=user.skills[1]%>
                        </div>
                        <div class="left_3_1_end">85%</div>
                    </div>
                    <div class="persentages">
                        <div class="persentages_in" style="width: 85%"></div>
                    </div>
                    <div class="left_3_1">
                        <div class="left_3_1_start">
                            <%=user.skills[2]%>
                        </div>
                        <div class="left_3_1_end">80%</div>
                    </div>
                    <div class="persentages">
                        <div class="persentages_in" style="width: 80%"></div>
                    </div>
                    <div class="left_3_1">
                        <div class="left_3_1_start">
                            <%=user.skills[3]%>
                        </div>
                        <div class="left_3_1_end">75%</div>
                    </div>
                    <div class="persentages">
                        <div class="persentages_in" style="width: 75%"></div>
                    </div>
                    <div class="left_3_1">
                        <div class="left_3_1_start">
                            <%=user.skills[4]%>
                        </div>
                        <div class="left_3_1_end">85%</div>
                    </div>
                    <div class="persentages">
                        <div class="persentages_in" style="width: 85%"></div>
                    </div>
                </div>
                <div class="seperator"></div>
                <div class="left_4">
                    <div class="intro_left">Skills</div>
                    <div class="left_3_1">
                        <div class="left_3_1_start">
                            <!-- Qo'shimcha kod -->
                        </div>
                    </div>
                </div>
                <div class="seperator"></div>
                <div class="left_5">
                    <div class="intro_left" style="margin-bottom: 20px">
                        Extra Skills
                    </div>
                    <div class="left_5_1">
                        <img src="icons/check.svg" alt="" class="check" />
                        <%=user.extra_skills[0]%>
                    </div>
                    <div class="left_5_1">
                        <img src="icons/check.svg" alt="" class="check" />
                        <%=user.extra_skills[1]%>
                    </div>
                    <div class="left_5_1">
                        <img src="icons/check.svg" alt="" class="check" />
                        <%=user.extra_skills[2]%>
                    </div>
                    <div class="left_5_1">
                        <img src="icons/check.svg" alt="" class="check" />
                        <%=user.extra_skills[3]%>
                    </div>
                </div>
            </div>
            <div class="midd_side">
                <div class="banners">
                    <div class="banner_text">
                        <h1 class="text_main">Doctor neurologists in OHSU Hospital</h1>
                        <p class="text_des">
                            <%=user.about_me%>
                        </p>
                        <img style="border-radius: 5%" src="/author/buttons/btn.png" width="160px" height="50px" />
                    </div>
                    <div class="banner_image">
                        <img class="main_image" src="/author/images/person.svg" width="326px" height="446px" alt="" />
                    </div>
                </div>
                <div class="services">
                    <div class="services_intro">
                        <div>My services</div>
                        <div class="service_des">
                            <p>
                                <%=user.service_desc%>
                            </p>
                        </div>
                    </div>
                    <div class="services_cards">
                        <div class="services_item">
                            <img class="item_icons" src="/author/icons/computer.svg" alt="" />
                            <h4 class="services_h1">data scantist</h4>
                            <p class="services_p">lorem2</p>
                        </div>
                        <div class="services_item">
                            <img class="item_icons" src="/author/icons/game-development.svg" alt="" />
                            <h4 class="services_h1">data scantist</h4>
                            <p class="services_p">Lorem, ipsum dolor.</p>
                        </div>
                        <div class="services_item">
                            <img class="item_icons" src="/author/icons/illustration.svg" alt="" />
                            <h4 class="services_h1">data scientist</h4>
                            <p class="services_p">Lorem, ipsum dolor.</p>
                        </div>
                    </div>
                    <div class="services_cards">
                        <div class="services_item">
                            <img class="item_icons" src="/author/icons/microphone.svg" alt="" />
                            <h4 class="services_h1">data scenctist</h4>
                            <p class="services_p">Lorem, ipsum.
                            </p>
                        </div>
                        <div class="services_item">
                            <img class="item_icons" src="/author/icons/photographer.svg" alt="" />
                            <h4 class="services_h1">Data scantist</h4>
                            <p class="services_p">Lorem, ipsum dolor.</p>
                        </div>
                        <div class="services_item">
                            <h5 class="services_h1" style="margin-top: 30px">
                                Tashrif
                            </h5>
                            <p class="services_p_last">
                                <%=user.about_me%>
                            </p>
                            <p style="color: orange">Tashrif ></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right_side">
                <div class="top_alone">
                    <a class="right_item" href="">
                        <div class="right_icon mm">
                            <img src="/author/icons/moon.png" class="icon_itself" alt="" />
                        </div>
                    </a>
                </div>
                <div class="buttom_ones">
                    <a class="right_item" href="">
                        <div class="right_icon bb">
                            <img src="/author/icons/home.png" class="icon_itself" alt="" />
                        </div>
                    </a>
                    <a class="right_item" href="">
                        <div class="right_icon">
                            <img src="/author/icons/docs.png" class="icon_itself" alt="" />
                        </div>
                    </a>
                    <a class="right_item" href="">
                        <div class="right_icon">
                            <img src="/author/icons/graduate.png" class="icon_itself" alt="" />
                        </div>
                    </a>
                    <a class="right_item" href="">
                        <div class="right_icon">
                            <img src="/author/icons/suitcase.png" class="icon_itself" alt="" />
                        </div>
                    </a>
                    <a class="right_item" href="">
                        <div class="right_icon">
                            <img src="/author/icons/square.png" class="icon_itself" alt="" />
                        </div>
                    </a>
                    <a class="right_item" href="">
                        <div class="right_icon">
                            <img src="/author/icons/chat.png" class="icon_itself" alt="" />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>